{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}
{% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/landing-page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/bootstrap.min.css' %}" />
    <script href="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% block sms_send_form %}

<div id="page-wrapper" style="padding-top: 10%">
<div class="container body">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="layout-content-body" id="form_body">
                <div class="title-bar">
                    <h2 class="title-bar-title">
                        <span class="d-ib">{{ title }}</span>
                    </h2>
                </div>
                <div class="panel-default" >

                        <div id='loadingmessage' style='display:none'>
                            <p>Loading, plaese wait.....</p>
                        </div>



                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}

                        <form action=" " method="post" enctype="multipart/form-data" class="uniForm" id="form_data">

                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" value="{{ title }}">{{ title }}</button>
                            </div>

                        </form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}