{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}
{% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/landing-page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/bootstrap.min.css' %}" />
    <script href="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% block body %}
<body>




    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mwananchi</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">

                </li>
                <li class="dropdown">
                    <a href="{% url 'accounts:logout' %}" ><i class="fa fa-bell"></i>logout</a>

                </li>
                <li class="dropdown">
                    <a href="#" ><i class="fa fa-user"></i>{{ request.user.username }}</a>

                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'search:search' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Search Twitter</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'sms:searchsms' %}"><i class="fa fa-fw fa-table"></i> Search SMS</a>
                    </li>
                    <li>
                        <a href="{% url 'twitterstream:tweetstream' %}"><i class="fa fa-fw fa-edit"></i> Twitter live streaming search</a>
                    </li>
                    <li>
                        <a href="{% url 'sms:sendsms' %}"><i class="fa fa-comments-o"></i> Send message</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>



    </div>






<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ title }}</h3>
                </div>
                <div class="panel-body">


                        {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                        {% endif %}

                        <form action=" " method="post" enctype="multipart/form-data">
                            {% csrf_token %}


                            {{ form|crispy }}


                            <input type="submit" class="btn btn-default" value="{{ title }}">

                        </form>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}