<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mwananchi{% endblock %}</title>
    <!-- loads the path to your static files-->
    {% load staticfiles %}

    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/sb-admin.css' %}" />
    <script type="text/javascript" src="{% static 'accounts/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'accounts/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'search/js/samepage.js' %}"></script>
    <script type="text/javascript" src="{% static 'search/js/Chart.js' %}"></script>
    <script src="{% static 'twitterstream/js/highcharts.js' %}"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="http://d3js.org/d3.geo.projection.v0.min.js" charset="utf-8"></script>
    <script src="http://trifacta.github.com/vega/vega.js"></script>


</head>
{% block body %}
<body id="loading">
<img id="loading" alt="" src="{% static 'accounts/images/infinity.gif' %}"/>


    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mwananchi</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">

                </li>
                <li class="dropdown">
                    <a href="{% url 'accounts:logout' %}" ><i class="fa fa-bell"></i>logout</a>

                </li>
                <li class="dropdown">
                    <a href="#" ><i class="fa fa-user"></i>{{ request.user.username }}</a>

                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{% url 'accounts:index' %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'search:search' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Search Twitter</a>
                    </li>
                    <li>
                        <a href="{% url 'sms:searchsms' %}"><i class="fa fa-fw fa-table"></i> Search SMS</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-edit"></i> Twitter live streaming search</a>
                    </li>
                    <li>
                        <a href="{% url 'sms:sendsms' %}"><i class="fa fa-fw fa-edit"></i> Send message</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>



    </div>

    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
{% endblock %}
</html>