<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Login and Register tabbed form - Bootsnipp.com</title>
    <!-- loads the path to your static files-->
    {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/landing-page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/bootstrap.min.css' %}" />
    <script type="text/javascript" src="{% static 'accounts/js/form.js' %}"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
{% block body %}
{#    <body>#}
{##}
{#        <div class="banner">#}
{#            <div class="row">#}
{#                <div class="col-md-6 col-md-offset-3">#}
{#                        <div class="panel-body">#}
{#                                <a href=" {% url 'accounts:login'  %} " class="btn btn-primary" role="button">Login</a>#}
{#                                <a href=" {% url 'accounts:register'  %} " class="btn btn-success" role="button">Register</a>#}
{#                        </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </body>#}
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">MWANANCHI</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'accounts:login'  %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:register'  %}">Register</a>
                    </li>
                    <li>
                        <a href="{% url 'subscribe:subscribe'  %}">Subscribe</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>MWANANCHI</h1>
                        <h3>Where Data Meets Analytics</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href=" {% url 'accounts:login'  %} " class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Login</span></a>
                            </li>

                            <li>
                                <a href="{% url 'accounts:register'  %}" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Register</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
{% endblock %}

</html>
