{% block body %}
    <h1>Please make a selection</h1>
    {% if topics %}
        <form method='' action=''>
            <select class="form-control" id="topic" name='topic'>
                <option>Select a topic</option>
                {% for topic in topics %}
                    <option value='{{topic.topic_id}}'>{{ topic.topic_title }}</option>
                {% endfor %}
            </select>


            <select class="form-control" id="keyword" name='keyword'>
                <option>Select a keyword</option>
                {% for keyword in keywords %}
                    <option value='{{keyword.key_word_id}}'>{{ keyword.key_word }}</option>
                {% endfor %}
            </select>


        </form>

        <script type="text/javascript">

        $(document).ready(function() {

    $("#topic").change(function() {
        var val = $(this).val();
        if (val == "{{topic.topic_id}}") {
            $("#keyword").html("<option value='test'>item1: test 1</option><option value='test2'>item1: test 2</option>");
        } else if (val == "item2") {
            $("#size").html("<option value='test'>item2: test 1</option><option value='test2'>item2: test 2</option>");

        } else if (val == "item3") {
            $("#size").html("<option value='test'>item3: test 1</option><option value='test2'>item3: test 2</option>");

        }
    });


});

        </script>

    {% endif %}
{% endblock %}